<app-header mode="ios" titulo="listas"> </app-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of user | async">

      <!-- sliding en lista que muestra iconos al deslizar hacia la derecha -->
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success" (click)="share(item)">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    
    <!-- implementando lista consumiendo servicios api con json impórtado desde el services/data.services.ts -> app.module.ts -> list.pages.ts -->
      <ion-item>
        <ion-label>
          <h3>{{item.name}}</h3>
          <p>{{item.email}}</p>
        </ion-label>
        <ion-label slot="end" class="ion-text-end text-small" >{{item.website}}</ion-label>
      </ion-item>

      <!-- sliding en lista que muestra iconos al deslizar hacia la izquierda -->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(item)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


</ion-content>
